{{> header}}
{{> menu}}

<div class="row">



    <div class="col-8">
<h1>South Park</h1>
<p>Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Explicabo tempora est 
    praesentium aliquid, repellendus 
    perspiciatis, ipsum tenetur itaque vel 
    repudiandae, sed suscipit amet optio.
     At inventore beatae modi eaque 
     veritatis?</p>

    </div>
<div class="col-4">
<img src="assets/img/southparkl).jpg" alt="" class="img-thumbnails">

</div>

</div>


{{> footer}}